services:
  postgres:
    image: postgres:16-alpine
    container_name: personal-suite-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: personal_suite
    ports:
      - '5433:5432'
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
